<!DOCTYPE html>
<html>
<head>
  <title>Catchmate Blog</title>
  <meta charset="utf-8" />
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel="stylesheet" type="text/css" href="https://catchmate.ca/bootstrap.min.css"
  <link rel="stylesheet" type="text/css" href="https://blog.catchmate.ca/style.css" />
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a style="padding-top: 8px;" class="navbar-brand page-scroll" href="https://catchmate.ca/#home"><img src="https://catchmate.ca/img/Catchmate2.png" height="30" width="140" alt="Catchmate"></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <p style="padding-right:220px;color:#2e6da4;" class="navbar-text"><small>Sales: 800-668-1284 ext 113</small></p>
          <li><a href="https://catchmate.ca/#home">Intro</a><li>
            <li><a href="https://catchmate.ca/#solution">Solution</a></li>
            <li><a href="https://blog.catchmate.ca">Blog</a></li>
            <a style="padding-left:15px;" href="/cdn-cgi/l/email-protection#f9919c959596b99a988d9a9194988d9cd79a98c6aa8c9b939c9a8dc4ba988d9a9194988d9cd9bd9c9496"><button type="button" class="btn btn-info navbar-btn">Request Demo</button></a>
          </ul>
        </div>
      </div>
    </nav>
    <div id="main" role="main" class="container">
      {{ content }}
    </div>
    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>
    <script src="https://catchmate.ca/bootstrap.min.js"></script>
    {% include analytics.html %}
  </body>
  </html>
