<!DOCTYPE html>
<html>
<head>
  <title>Catchmate Blog</title>
  <meta charset="utf-8" />
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel="stylesheet" type="text/css" href="https://blog.catchmate.ca/style.css">
</head>
<body>
  <div class="wrapper-masthead">
    <div class="container">
      <header class="masthead clearfix">
        <a href="https://catchmate.ca/#home"><img src="https://catchmate.ca/img/Catchmate2.png" height="30" width="140" alt="Catchmate"></a>
        <nav>
          <a style="padding-left: 15px;" href="https://blog.catchmate.ca/">Blog</a>
          <a href="mailto:hello@catchmate.ca?Subject=Catchmate Demo">Request Demo</a>
        </nav>
      </header>
    </div>
  </div>
  <div id="main" role="main" class="container">
    {{ content }}
  </div>
</body>
</html>
