<!DOCTYPE html>
<html>
<head>
  <title>Catchmate Blog</title>
  <meta charset="utf-8" />
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel="stylesheet" type="text/css" href="https://catchmate.ca/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://blog.catchmate.ca/style.css">
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a style="padding-top: 8px;" class="navbar-brand page-scroll" href="https://catchmate.ca/#home"><img src="https://catchmate.ca/img/Catchmate2.png" height="30" width="140" alt="Catchmate"></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <p style="padding-right:220px;color:#2e6da4;" class="navbar-text"><small>Sales: 800-668-1284 ext 113</small></p>
          <li><a href="https://catchmate.ca/#home">Intro</a><li>
            <li><a href="https://catchmate.ca/#solution">Solution</a></li>
            <li><a href="https://blog.catchmate.ca">Blog</a></li>
            <a style="padding-left:15px;" href="/cdn-cgi/l/email-protection#f9919c959596b99a988d9a9194988d9cd79a98c6aa8c9b939c9a8dc4ba988d9a9194988d9cd9bd9c9496"><button type="button" class="btn btn-info navbar-btn">Request Demo</button></a>
          </ul>
        </div>
      </div>
    </nav>
    <div id="main" role="main" class="container">
      {{ content }}
    </div>
    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% if site.footer-links.email %}<a href="mailto:{{ site.footer-links.email }}"><i class="svg-icon email"></i></a>{% endif %}
          {% if site.footer-links.facebook %}<a href="https://www.facebook.com/{{ site.footer-links.facebook }}"><i class="svg-icon facebook"></i></a>{% endif %}
          {% if site.footer-links.flickr %}<a href="https://www.flickr.com/{{ site.footer-links.flickr }}"><i class="svg-icon flickr"></i></a>{% endif %}
          {% if site.footer-links.github %}<a href="https://github.com/{{ site.footer-links.github }}"><i class="svg-icon github"></i></a>{% endif %}
          {% if site.footer-links.instagram %}<a href="https://instagram.com/{{ site.footer-links.instagram }}"><i class="svg-icon instagram"></i></a>{% endif %}
          {% if site.footer-links.linkedin %}<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}"><i class="svg-icon linkedin"></i></a>{% endif %}
          {% if site.footer-links.pinterest %}<a href="https://www.pinterest.com/{{ site.footer-links.pinterest }}"><i class="svg-icon pinterest"></i></a>{% endif %}
          {% if site.footer-links.rss %}<a href="{{ site.baseurl }}/feed.xml"><i class="svg-icon rss"></i></a>{% endif %}
          {% if site.footer-links.twitter %}<a href="https://www.twitter.com/{{ site.footer-links.twitter }}"><i class="svg-icon twitter"></i></a>{% endif %}
          {% if site.footer-links.stackoverflow %}<a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}"><i class="svg-icon stackoverflow"></i></a>{% endif %}
          {% if site.footer-links.youtube %}<a href="https://youtube.com/{{ site.footer-links.youtube }}"><i class="svg-icon youtube"></i></a>{% endif %}
          {% if site.footer-links.googleplus %}<a href="https://plus.google.com/{{ site.footer-links.googleplus }}"><i class="svg-icon googleplus"></i></a>{% endif %}
        </footer>
      </div>
    </div>
    <script src="https://catchmate.ca/bootstrap.min.js"></script>
    <script src="https://catchmate.ca/jquery-1.11.0.js"></script>
    {% if site.google_analytics %}
    	<!-- Google Analytics -->
    	<script>
    		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    		ga('create', '{{ site.google_analytics }}', 'auto');
    		ga('send', 'pageview', {
    		  'page': '{{ site.baseurl }}{{ page.url }}',
    		  'title': '{{ page.title | replace: "'", "\\'" }}'
    		});
    	</script>
    	<!-- End Google Analytics -->
    {% endif %}
  </body>
  </html>
